.container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
  }

.header {
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: white;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  color: #4CAF50;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue
}
